.detail {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailContainer {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-primary);
}
.detailImg {
  text-align: center;
  color: var(--color-secondary);
}
.detailImg img {
  width: 800px;
  height: 550px;
}
.detailContent {
  color: var(--color-secondary);
  margin: 0 20px;
  line-height: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detailActivity {
  color: var(--color-secondary);
  margin: 0 20px;
  line-height: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.activityImg {
  width: 350px;
  height: 200px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    68% 75%,
    51% 100%,
    34% 75%,
    0% 75%
  );
}
